@font-face {
font-family: "Avenir";
src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face {
font-family: "Avenir-Light";
src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}