@font-face {
font-family: "Avenir";
src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face {
font-family: "Avenir-Light";
src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}
body{
	color:red;
}
.hero-image {
  font-family: 'Avenir';
  background-image: url("../../../media/imgs/resultback.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home{
    width: 20px;
    margin: 20px;
}

.home:hover{
  cursor: pointer;
}

#summonerName {
 font-family: 'Avenir-Light';
 color: #ce9645;
 font-size: 2em;
}

.underline{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 220px;
    height: auto;
}


.stats{
    padding: 100px;
    
}
#summonerLevel {
 font-family: 'Avenir-Light';
 color: #ce9645;
 font-size: 1.5em;
}

#summonerRank {
 font-family: 'Avenir-Light';
 color: #ce9645;
 font-size: 1.5em;
}

#masteryScore {
 font-family: 'Avenir-Light';
 color: #ce9645;
 font-size: 1.5em;
}

#mostPlayed {
 font-family: 'Avenir-Light';
 color: #ce9645;
 font-size: 1.5em;
}

#champPortrait{
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    width: 250px;
    height: auto;
    

}